.footer {
    position: relative;
    z-index: 10000;
    width: calc(100vw - 5px);
    overflow: hidden;
    background-color: #fff;
}
.__ {
    width: calc(100vw - 5px);
    overflow: hidden;
}
._ {
    display: flex;
    overflow: hidden;
    width: 200vw;
}
.text {
    width: 100vw;
    margin: 0;
    font-size: 13vw;
    font-weight: 400;
    animation: 8s linear scrolls infinite;
    color: #252525;
}
.footer:not(:hover) .t {
    opacity: 0;
}
.t {
    margin: 20px;
    color: #666;
    font-size: 12px;
    opacity: 1;
    transition: opacity 0.3s ease;
}
@media (max-width: 600px) {
    ._ .text {
        font-size: 12.5vw;
    }
    .footer:not(:hover) .t {
        opacity: 1;
    }
}

@keyframes scrolls {
    0% {
        transform: translateX(0);
    }
    100% {
        //transform: translateX(-100%);
        transform: translateX(var(--width));
    }
}