html {
    width: 100%;
    height: 100%;
}
body > div:first-child > div:first-child:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    width: 430px;
    height: 530px;
    border-radius: 15px;
    transform: rotate(4deg);
    transform-origin: 40% 70%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #fa709a 0%, #fee140 100%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
body > div:first-child > div:first-child:hover::before {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
body > div:first-child > div:first-child > div:first-child {
    position: relative;
    z-index: 2;
    width: 400px;
    height: 500px;
    padding: 10px;
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}
body > div:first-child > div:first-child > div:first-child {
    position: relative;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    color: rgb(255, 255, 255);
}
body > div:first-child {
    margin: 100px auto;
    width: 455px;
    position: relative;
    /*top: calc(50% - 250px);*/
}
/* ---- text ---- */
body > div:first-child > div:first-child > div:first-child > div:first-child:before {
    content: "applemango";
    font-family: "Meiryo";
    font-size: 32px;
    font-weight: bold;
    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body > div:first-child > div:first-child:hover > div:first-child > div:first-child:before {
    background: -webkit-linear-gradient(43deg, #fa709a 0%, #fee140 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*
body > div:first-child > div:first-child > div:first-child > div:nth-child(2):before {
    content: '色々してる';
    font-family: "Meiryo";
    
}
*/
/*
body > div:first-child > div:first-child > div:first-child > div:nth-child(3):before {
    content: 'https://github.com/applemango';
    font-family: "Meiryo";
    transition: opacity 0.5s;
    opacity: 0;
}
body > div:first-child > div:first-child > div:first-child:hover > div:nth-child(3):before {
    opacity: 1;
}
body > div:first-child > div:first-child > div:first-child > div:nth-child(4):before {
    content: '(divしか使えない+要素名しか使えない縛り(最低限の物は除く)してるからリンクは踏めないしtextも選択できないよ(chrome推奨';
    font-family: "Meiryo";
    transition: opacity 0.5s;
    opacity: 0;
}
body > div:first-child > div:first-child > div:first-child:hover > div:nth-child(4):before {
    opacity: 1;
}
*/

/* ---- background ---- */
/*body > div:first-child > div:first-child > div:nth-child(2) > div:first-child*/
body > div:first-child > div:nth-child(2) > div:first-child {
    position: fixed;
    top: calc(50% - 50px);
    right: 50%;
    width: 250px;
    height: 250px;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    background: radial-gradient(circle at 50% 50%, #fa709a, rgba(255, 255, 255, 0));
}
body > div:first-child:hover > div:nth-child(2) > div:first-child {
    background: radial-gradient(circle at 50% 50%, #4158D0, rgba(255, 255, 255, 0));
}
body > div:first-child > div:nth-child(2) > div:nth-child(2) {
    position: fixed;
    bottom: calc(50% + 100px);
    left: 50%;
    width: 250px;
    height: 250px;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    background: radial-gradient(circle at 50% 50%, #fee140, rgba(255, 255, 255, 0));
}
body > div:first-child:hover > div:nth-child(2) > div:nth-child(2) {
    background: radial-gradient(circle at 50% 50%, #FFCC70, rgba(255, 255, 255, 0));
}


/* ---- lang ---- */
body > div:first-child > div:first-child > div:first-child > div:nth-child(3) {
    width: calc(100% - 20px);

    /*
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    color: rgba(255, 255, 255, 0.15);
    */

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    color: rgba(255, 255, 255, 0.45);

    color: #C850C0;
    padding: 10px;
}

body > div:first-child > div:first-child > div:first-child > div:nth-child(3) > div:first-child::before {
    content: "Used Language";
}

body > div:first-child > div:first-child > div:first-child > div:nth-child(3) > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

body > div:first-child > div:first-child > div:first-child > div:nth-child(3) > div:nth-child(2) > div {
    margin-right: 10px;
    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background: -webkit-linear-gradient(43deg, #fa709a 0%, #fee140 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body > div:first-child > div:first-child > div:first-child > div:nth-child(3) > div:nth-child(2) > div::before {
    content: "●";
    background: -webkit-linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background: -webkit-linear-gradient(43deg, #fa709a 0%, #fee140 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body > div:first-child > div:first-child > div:first-child > div:nth-child(3) > div:nth-child(2) > div:first-child::after {
    content: "JavaScript";
}
body > div:first-child > div:first-child > div:first-child > div:nth-child(3) > div:nth-child(2) > div:nth-child(2)::after {
    content: "HTML / CSS";
}
body > div:first-child > div:first-child > div:first-child > div:nth-child(3) > div:nth-child(2) > div:nth-child(3)::after {
    content: "Python";
}
body > div:first-child > div:first-child > div:first-child > div:nth-child(3) > div:nth-child(2) > div:nth-child(4)::after {
    content: "C / C++";
}
body > div:first-child > div:first-child > div:first-child > div:nth-child(3) > div:nth-child(2) > div:nth-child(5)::after {
    content: "C#";
}
body > div:first-child > div:first-child > div:first-child > div:nth-child(3) > div:nth-child(2) > div:nth-child(6)::after {
    content: "Java";
}
body > div:first-child > div:first-child > div:first-child > div:nth-child(3) > div:nth-child(2) > div:nth-child(7)::after {
    content: "Ruby";
}
body > div:first-child > div:first-child > div:first-child > div:nth-child(3) > div:nth-child(2) > div:nth-child(8)::after {
    content: "Clojure";
}
body > div:first-child > div:first-child > div:first-child > div:nth-child(3) > div:nth-child(2) > div:nth-child(9)::after {
    content: "Perl";
}
body > div:first-child > div:first-child > div:first-child > div:nth-child(3) > div:nth-child(2) > div:nth-child(10)::after {
    content: "Go";
}
body > div:first-child > div:first-child > div:first-child > div:nth-child(3) > div:nth-child(2) > div:nth-child(11)::after {
    content: "Rust";
}
body > div:first-child > div:first-child > div:first-child > div:nth-child(3) > div:nth-child(2) > div:nth-child(12)::after {
    content: "Racket";
}















body > div:first-child > div:first-child > div:first-child > div:nth-child(4) {
    width: 100%;
    height: 100px;
    margin-top: 10px;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    color: rgba(255, 255, 255, 0.45);
}
body > div:first-child > div:first-child > div:first-child > div:nth-child(5) {
    width: 100%;
    height: 100px;
    margin-top: 10px;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    color: rgba(255, 255, 255, 0.45);
}
body > div:first-child > div:first-child > div:first-child > div:nth-child(6) {
    width: 100%;
    height: 100px;
    margin-top: 10px;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    color: rgba(255, 255, 255, 0.45);
}